/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form label { font-weight: bold; }
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form legend { font-weight: bold; font-size: 1.2em; }
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form input.text, .ui-form input.title, .ui-form input[type=email], .ui-form input[type=text], .ui-form input[type=password] { margin: 0.5em 0; background-color: white; padding: 5px; }
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form input.title { font-size: 1.5em; }
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form textarea { margin: 0.5em 0; padding: 5px; }
/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form select { margin: 0.5em 0; }
/* line 13, ../../src/stylesheets/ui.form.scss */
.ui-form .field { margin-top: .5em; margin-bottom: .5em; padding: 0 5px; overflow: hidden; *zoom: 1; }
/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form input.text, .ui-form input.title, .ui-form input[type=email], .ui-form input[type=text], .ui-form input[type=password] { width: 90%; }
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.ui-form textarea { width: 90%; height: 250px; }
/* line 21, ../../src/stylesheets/ui.form.scss */
.ui-form select { width: 90%; }
/* line 25, ../../src/stylesheets/ui.form.scss */
.ui-form label { display: block; }
/* line 28, ../../src/stylesheets/ui.form.scss */
.ui-form label.side { display: inline-block; width: 110px; }
/* line 33, ../../src/stylesheets/ui.form.scss */
.ui-form ul { list-style: none; padding-left: 0; }
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p180@argure/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.ui-form ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
/* line 40, ../../src/stylesheets/ui.form.scss */
.ui-form .argure-error-message nl li { list-style-type: decimal; }
