@import "blueprint/typography";
@import "compass/typography/lists/bullets";
@import "blueprint/grid";
@import "blueprint/form";

$input-width:     90%;
$textarea-width:  $input-width;
$textarea-height: 250px;
$select-width:    $input-width; 

.ui-form {
	@include blueprint-form-layout;
	.field {
		margin-top: .5em;
		margin-bottom: .5em;
		padding: 0 5px;
		@include clearfix;
	}
				
	@include blueprint-form-sizes($input-width, $textarea-width, $textarea-height);
	select {
		width: $select-width;
	}

	label {
		display: block;
	}
	label.side {
		display: inline-block;
		width: span(3);
	}

	ul {
		@include no-bullets;
		padding-left: 0;
	}

	.argure-error-message {
		nl {
			li {
				list-style-type: decimal;
			}
		}
	}

}
